BLOCKFROST_API_KEY=preprodxxxxxxxx
MNEMONIC="solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution,solution"